.comments-list {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 4vh;
  padding-top: 10px;
  border-top: 1px solid #eb1c24;
  font-size: 1rem;

  .comments-header {
    align-self: flex-start;
    padding-bottom: 8px;
    margin-bottom: 4px;
    font-size: 1.2rem;
    font-weight: 1000;
  }
  .comment-form {
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    border: 1px solid #eb1c24;
    button {
      height: 25px;
      width: 10vw;
    }
  }

  input {
    width: 80vw;
    height: 25px;
    border: none;
    border-radius: none;
  }

  ul {
    list-style: none;
  }

  .comment {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eb1c24;
    padding: 4px 0;
  }

  div {
    display: flex;
    margin: 10px 0 5px;
    gap: 10px;
  }
  .comment-author,
  .comment-votes {
    font-weight: 1000;
  }

  button {
    width: 25px;
    height: 18px;
    background-color: #ff474e;
    border: none;
    color: white;
  }
  button:hover {
    background-color: white;
    color: #eb1c24;
    border: 2px solid #eb1c24;
  }

  .delete-comment {
    
    background-color: black;
    
  }
}
