.header {
  height: 8vh;
  border-bottom: 2px solid #eb1c24;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.logo {
  font-family: "Roboto";
  color: #eb1c24;
  font-size: 40px;
  display: flex;
  align-items: center;
}
