

.header {
  height: 8vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 3px solid #eb1c24;

  .logo {
    font-family: "Roboto";
    color: #eb1c24;
    align-self: flex-end;
    font-size: 40px;
  }

  a {
    text-decoration: none;
    color: #eb1c24;
  }

  img {
    width: 100px;
    height: 100%;
    object-fit: contain;
    padding: none;
  }
}
