.article-page {
  max-width: 800px;

  .paragraph {
    width: 100%;
    font-weight: 1000;
    font-size: 1.1rem;
  }

  .article-section {
    width: 100%;
  }
}

.author-and-votes {
  width: 100%;
  display: flex;
  flex-direction: column;

  .article-buttons {
    width: 20%;
    display: flex;

    p {
      width: 10px;
      padding: none;
      margin: 10px 2px;
    }
    button {
      width: 40px;
      margin: 10px 2px;
    }
    .follow,
    .unfollow {
      width: 100px;
    }

    .unfollow {
      background-color: white;
      border: 2px solid #eb1c24;
      color: #eb1c24;

      &:hover {
        background-color: #eb1c24;
        color: white;
      }
    }
  }
}
