#home,
.article-page,
.topic-articles-page,
.account-details, .following-articles {
  margin-top: 8vh;
  margin-bottom: 8vh;
  height: calc(100vh - 16vh);
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  font-family: monospace;

  .sort-controls {
    width: 60%;
    display: flex;
    label {
      margin: 0 -40px;
      display: flex;
      justify-content: center;
    }
    select {
      width: 40%;
    }
  }
}
