.post-article-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5vh;
}

.post-form {
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.post-form input,
.post-form select,
.post-form textarea,
.post-form button {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.post-form textarea {
  height: 200px;
}

.example-article {
  max-width: 500px;
}

.example-article .article-page {
  width: 100%;
  height: 800px;
  border: 3px solid#eb1c24;
}

@media (max-width: 1000px) {
  .post-article-page {
    flex-direction: column;
    margin-top: 10vh;

    form {
      margin-bottom: -70px;
    }
  }
}
