* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: #eb1c24;
  color: white;
  border: none;
  font-family: monospace;
}

button:hover {
  background-color: white;
  color: #eb1c24;
  border: 2px solid#eb1c24;
}

.clicked {
  background-color: white;
  color: #eb1c24;
  border: 2px solid#eb1c24;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.loading-container {
  width: 100%;
  
}