* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: #eb1c24;
  color: white;
  border: none;
  font-family: monospace;
}

button:hover {
  background-color: white;
  color: #eb1c24;
  border: 2px solid#eb1c24;
}

.clicked {
  background-color: white;
  color: #eb1c24;
  border: 2px solid#eb1c24;
}
